@import url("fonts.css");
body{
    font-family: 'Mukta', sans-serif;
    margin: 5px;
}
.logo{
    width: 80px;
}
.logo_2{
    width: 80px;
}
main{
    display: flex;
    justify-content: center; 
}
main.center{
    display: flex;
}
#portfolio{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5px;
    font-family: 'Mukta', sans-serif;
    width: 60em;
    height: 31em;
    margin-top: 1em;
    font-family: 'Mukta', sans-serif;
    justify-content: center; 
}
.view .design {
    width: 15em; 
    height: 15em; 
    object-fit: cover;
    display: block;
    border-radius: 4%;
}
.view_2 .design {
    width: 15em; 
    height: 15em; 
    object-fit: cover;
    display: block;
    border-radius: 4%;
    animation: animate_hide 2s;
}
.view_3 .design{
    width: 15em; 
    height: 15em; 
    object-fit: cover;
    display: block;
    border-radius: 4%;
    animation: animate_hide 2s;
}
.view_4 .design{
    width: 15em; 
    height: 15em; 
    object-fit: cover;
    display: block;
    border-radius: 4%;
    animation: animate_hide 2s;
}
.view_5 .design{
    width: 15em; 
    height: 15em; 
    object-fit: cover;
    display: block;
    border-radius: 4%;
    animation: animate_hide 2s;
}
.view_6 .design{
    width: 15em; 
    height: 15em; 
    object-fit: cover;
    display: block;
    border-radius: 4%;
    animation: animate_hide 2s;
}
.fadeout{
    width: 15em; 
    height: 15em; 
    object-fit: cover;
    display: block;
    border-radius: 4%;
    animation: animate_hide 2s;
}
@keyframes animate_hide {
    0%   {opacity: 0.2;}
    100% {opacity: 100;}
}
.fadein{
    width: 15em; 
    height: 15em;
    background-color: darkslategrey;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    animation: animate_show 2s;
    animation-fill-mode: forwards;
}
@keyframes animate_show{
    0%   {opacity: 0.2;}
    100% {opacity: 100;}
}
.show a{
    width: 15em; 
    height: 15em;
    background-color: darkslategrey;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
}
.show_2 a{
    width: 15em; 
    height: 15em;
    background-color: darkslategrey;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
}
.show_3 a{
    width: 15em; 
    height: 15em;
    background-color: darkslategrey;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
}
.show_4 a{
    width: 15em; 
    height: 15em;
    background-color: darkslategrey;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 4%;
}
.show_5 a{
    width: 15em; 
    height: 15em;
    background-color: darkslategrey;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 4%;
}
.show_6 a{
    width: 15em; 
    height: 15em;
    background-color: darkslategrey;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 4%;
}
.active{
    width: 15em; 
    height: 15em;
    background-image:linear-gradient(
        rgba(25, 77, 102, 0.45),
        rgba(25, 77, 102, 0.45)),
    url(img/fizzbuzz.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
}
.active_2{
    width: 15em; 
    height: 15em;
    background-image:linear-gradient(
        rgba(25, 77, 102, 0.45),
        rgba(25, 77, 102, 0.45)),
    url(img/mag.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    animation: animate_show 2s;
    animation-fill-mode: forwards;
}
.active_3{
    width: 15em; 
    height: 15em;
    background-image:linear-gradient(
        rgba(25, 77, 102, 0.45),
        rgba(25, 77, 102, 0.45)),
    url(img/sparkle.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    animation: animate_show 2s;
    animation-fill-mode: forwards;
}
.active_4{
    width: 15em; 
    height: 15em;
    background-image:linear-gradient(
        rgba(25, 77, 102, 0.45),
        rgba(25, 77, 102, 0.45)),
    url(img/todolist.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    animation: animate_show 2s;
    animation-fill-mode: forwards;
}
.active_5{
    width: 15em; 
    height: 15em;
    background-image:linear-gradient(
        rgba(25, 77, 102, 0.45),
        rgba(25, 77, 102, 0.45)),
    url(img/item_5.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    animation: animate_show 2s;
    animation-fill-mode: forwards;
}
.active_6{
    width: 15em; 
    height: 15em;
    background-image:linear-gradient(
        rgba(25, 77, 102, 0.45),
        rgba(25, 77, 102, 0.45)),
    url(img/pineapple.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    animation: animate_show 2s;
    animation-fill-mode: forwards;
}
a   {
    text-decoration: none;
}
a .desc{
    display: flex;
    width: 10em; 
    height: 3em;
    background-color: white;
    border-radius: 25px;
    justify-content: center;
    align-items: center; 
    color: rgb(17, 27, 27);
}
.item_1{
    grid-area: 1/1/2/2;
}
.item_2{
    grid-area: 1/2/2/3;
}
.item_3{
    grid-area: 1/3/2/4;
}
.item_4{
    grid-area: 2/1/3/2;
}
.item_5{
    grid-area: 2/2/3/3;
}
.item_6{
    grid-area: 2/3/3/4;
}
.frame{
    width: 40em;
    height: 27.5em;
    margin: auto;
    background-image:linear-gradient(rgba(253, 252, 234, 0.1), rgba(252, 252, 252, 0.1)),url(img/bg_2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    display: grid;
    grid-template-rows: 30px 1fr;
    grid-template-columns: 65% 35%;
}
.cover_letter{
    grid-area: 2/2/3/3;
    display: flex;
    align-items: flex-end;
}
p{
    font-family: 'La Belle Aurore';
    font-size: 25px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
} 
a .inst{
    text-decoration:none;
}
a.inst:-webkit-any-link {
    color: darkolivegreen;
}
.photo{
    grid-area: 1/1/3/2;
    /* background-image: url(img/P1015880.JPG);
    background-size: cover;
    background-repeat: no-repeat; */
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100vh;
}
nav{
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center;
}
nav a{
    font-family: 'Chivo', sans-serif;
    font-size: 20px;
}
a .menu{
    /*20px*/
    text-decoration: none;
}

a.menu:-webkit-any-link {
    color: midnightblue;
}
a.menu:hover:-webkit-any-link{
    color:darkred;
}
strong{
    color:maroon;
}
#type{
    font-family: 'La Belle Aurore', cursive; 
    color: #8fc8ae; 
    display: flex;
    justify-content: center;
}
h1.name{
    font-family: 'La Belle Aurore', cursive;
}
h1{
    margin: 0;
}
h4{
    margin: 0;
}
#previous{
    margin: auto;
    display:grid;
    width: 35em;
    grid-template-rows: repeat (15, 1fr);
    grid-template-columns: 8em 1fr;
    font-family: 'Mukta', sans-serif;
    gap: 4px;
}
.d_pieredze{
    grid-area: 1/1/2/3;
    background-color: beige;
}
.date_1{
    grid-area: 2/1/3/2;
    background-color: beige;
    display:inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.signetbank{
    grid-area: 2/2/3/3;
    background-color: beige;
}
.date_2{
    grid-area: 3/1/4/2;
    background-color:beige;
    display:inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.bdo{
    grid-area: 3/2/4/3;
    background-color: beige;
}
.date_3{
    grid-area: 4/1/5/2;
    background-color: beige;
    display:inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.eniaks{
    grid-area: 4/2/5/3;
    background-color: beige;
}
.date_4{
    grid-area: 5/1/6/2;
    background-color: beige;
    display:inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.bta{
    grid-area: 5/2/6/3;
    background-color:beige;
}
.tech{
    grid-area: 6/1/7/3;
    background-color: beige;;
}
.skills{
    grid-area: 7/1/8/3;
    background-color: beige;
}
.add_educ{
    grid-area: 8/1/9/3;
    background-color: beige;
}
.date_5{
    grid-area: 9/1/10/2;
    background-color: beige;
    display: flex;
    justify-content: center;
    text-align: center;
}
.rtg{
    grid-area: 9/2/10/3;
    background-color: beige;
}
.date_6{
    grid-area: 10/1/11/2;
    background-color: beige;
    display: flex;
    justify-content: center;
    text-align: center;
}
.rcs_2{
    grid-area: 10/2/11/3;
    background-color: beige;
}
.date_7{
    grid-area: 11/1/12/2;
    background-color: beige;
    display: flex;
    justify-content: center;
    text-align: center;
}
.rcs_1{
    grid-area: 11/2/12/3;
    background-color: beige;
}
.date_8{
    grid-area: 12/1/13/2;
    background-color: beige;
    display: flex;
    justify-content: center;
    text-align: center; 
}
.citadele{
    grid-area: 12/2/13/3;
    background-color: beige;
}
.educ{
    grid-area: 13/1/14/3;
    background-color: beige;

}
.date_9{
    grid-area: 14/1/15/2;
    background-color: beige;
    display: flex;
    justify-content: center;
}
.tsi{
    grid-area: 14/2/15/3;
    background-color: beige;
}
.date_10{
    grid-area: 15/1/16/2;
    background-color: beige;
    display: flex;
    justify-content: center;
}
.lu{
    grid-area: 15/2/16/3;
    background-color:beige;
}
.resp{
    display: inline;
}
.contacts{
    font-family: 'Mukta', sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 3em;
    /* background-image:linear-gradient(rgba(253, 252, 234, 0.1), rgba(252, 252, 252, 0.1)),url(img/bg_2.jpg); */
    animation: contacts 3s linear alternate;
    animation-fill-mode:forwards;
}

@keyframes contacts {
    0% {
        background: beige;
    }

    100% {
        background-image:linear-gradient(rgba(253, 252, 234, 0.1), rgba(252, 252, 252, 0.1)),url(img/bg_2.jpg);
    }
} 
.wave {
    color: #414040;
    animation: 0.5s color infinite;
}

@keyframes color {
    50% {
    color: #559777;
    }
}

@media (max-width: 1024px){
    #portfolio{
        display:grid;
        grid-template-rows: 15em 15em 15em;
        grid-template-columns: 15em 15em;
    }
    .item_1{
        grid-area: 1/1/2/2;
    }
    .item_2{
        grid-area: 1/2/2/3;
    }
    .item_3{
        grid-area: 2/1/3/2;
    }
    .item_4{
        grid-area: 2/2/3/3;
    }
    .item_5{
        grid-area: 3/1/4/2;
    }
    .item_6{
        grid-area: 3/2/4/3;
    }
    #container{
        display:grid;
        grid-template-rows: 30px 1fr auto;
        grid-template-columns: 1fr; 
    }
    nav{
        grid-area: 1/1/2/2;
    }
    nav a{
        font-family: 'Chivo', sans-serif;
        font-size: 1.95vw;
    }
    .cover_letter{
        grid-area: 3/1/4/2;
    }
    p{
        font-size: 2.85vw; 
    } 
    .photo{
        grid-area: 2/1/3/2;
        /* background-image: url(img/P1015880.JPG); */
        /* background-size: cover;
        background-repeat: no-repeat; */
        width: 100%;
        object-fit: cover;
        object-position: center;
        margin-left: 5px;
        height: auto;
    }
}
